/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;




/* Default */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 20px;
}
body {
  font-family: 'Arimo', sans-serif;
  background-color: #eff5f8;
  color: #001b44;
}

/* Fixed Weather Header */
.current-weather {
  display: flex;
  position: fixed;
  background-color: #1e3a8a;
  color: white;
  min-width: 100%;
  margin-bottom: 30px;
  top: 0;
  padding: 0.5rem;
  z-index: 10;
}

/* Main Container */
.customCardOne {
  font-size: 1rem;
  display:flex;
  z-index: 0;
}
/* Sub-Containers */
.customCard {
  background-color:	#d6d3d1;
  border: 1px solid #eceff1;
  margin: 5px;
  padding: 20px;
  width: 100%;
}

/* "Make Your Day" Header */
.first-container {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 100px;
}

.pageTitle {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  padding-bottom: 0.5rem
}
/* Date and Time */
.lead {
  font-size: 1rem;
}

.day-time {
  display: flex;
}

/* Quote Box */
.quote-box {
  font-size: 0.75rem;
}
#quote {
  font-style: italic;
}

/* Form Inputs */
label, p {
  font-size: 1em;
}

input {
  height: 2em;
  width: 100%;
  padding: .2em;
  margin-top: .4em;
  font-size: 1em;
  border: 1px solid #001b44;
}

/* Header of Both To do and Weekly View */
h1 {
  text-align: center;
}


/* List Element CSS */
.customCardOne ul {
  background-color: #1e3a8a;
  padding: 4px;
}

li {
  height: 2em;
  margin-top: .25rem;
  margin-bottom: .25rem;
  padding: .25rem;
  background-color:  #1e3a8a;
  color: white;
  font-size: 1rem;
  line-height: 1.5rem;
  overflow:auto;
  position:relative;
}
li span {
  max-width:80%;
  position:absolute;
  overflow:hidden;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}

li button {
  float: right;
  border: none;
  height: 1.4em;
  cursor: pointer;
  color: black;
  font-size: 1em;
  z-index: 3;
}

ul {
  list-style-type: none;
  padding: 0.2rem;
  background-color:#1e3a8a !important;
}


ul li:hover {
  cursor: grab;
}

ol {
  list-style-type: decimal;
  background-color: #d6d3d1;
}
ol li {
  font-size: medium !important;
  background-color: #d6d3d1;
  color: #1e3a8a;
}



/* Accordion Styling */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #cbd5e1;
  color: #1f2937;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #64748b;
  color: #d7dbe3
}
.curDay {
  color: #b91c1c
}
.curDay:hover {
  color: #f87171;
}
button.active.curDay {
  color: #f87171 !important;
}

/* Style the accordion panel. Note: block by default */
.panel {
  padding: 0 18px;
  display: block;
  overflow: hidden;
}

/* Makes Accordion have + or - Depending if it is Active */
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Specialized Styling For Different Type Attributes */
li[type="Unsorted"] {
  border-color: #1e3a8a;
  background-color: #bfdbfe;
  color: #1e3a8a;
}
li[type="Must-do"] {
  border-color: #881337;
  background-color: #fecdd3;
  color: #881337;
}
li[type="Should-do"] {
  border-color: #78350f;
  background-color: #fde68a; 
  color: #78350f;
}
li[type="Could-do"] {
  border-color: #4c1d95;
  background-color: #ddd6fe;
  color: #4c1d95;
}

/* Styling for Specific Accordion Buttons */
#unsorted-btn {
  color: #1e3a8a;
}
#unsorted-btn:hover, #unsorted-btn.active {
  color: #bfdbfe;
}
#must-do-btn{
  color: #881337;
}
#must-do-btn:hover, #must-do-btn.active {
  color: #fecdd3;
}
#should-do-btn {
  color: #78350f;
}
#should-do-btn:hover, #should-do-btn.active {
  color: #fde68a;
}
#could-do-btn {
  color: #4c1d95;
}
#could-do-btn:hover, #could-do-btn.active {
  color: #ddd6fe;
}