*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #eff5f8;
  color: #001b44;
  font-size: 20px;
}
.customCardOne {
  font-size: 20px;
}
.first-container {
  justify-content: space-between;
  text-align: center;
  font-size: 40px;
}

.lead {
  font-size: 20px;
}

.day-time {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.current-weather {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 18px;
}

#current-city{
  font-size: 18px;
}

#current-conditions{
  font-size: 18px;
}

#current-temp{
  font-size: 18px;
}
#current-wind{
  font-size: 18px;
}
#current-humidity{
  font-size: 18px;
}

.quote-box {
  font-size: 15px;

}

label, p {
  font-size: 1em;
}

input {
  height: 2em;
  width: 100%;
  padding: .2em;
  margin-top: .4em;
  font-size: 1em;
  border: 1px solid #001b44;
}

h1 {
  text-align: center;
}



li {
  height: 2em;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color:  #001b44;
  color: white;
  font-size: 1em;
  line-height: 1.5;
}


li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}

li button {
  float: right;
  border: none;
  height: 1.4em;
  cursor: pointer;
  background-color: #ff7034;
  color: white;
  font-size: 1em;
}

.customCardOne {
  display:flex
}

.customCardOne ul {
  background-color: aquamarine;
  padding: 4px;
}

.customCard {
  /* display: flex; */
  background-color:	#FFFFE0;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  margin: 60px auto;
  padding: 20px;
  width: 80%;
}

ul {
  list-style-type: none;
  padding: 4px;
  background-color: aquamarine !important;
}


ul li:hover {
  cursor: grab;
}
/* 
#todo-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

#todo-list li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1.4em;
  height: 18px;
}

#todo-list li span {
  position: absolute;
  margin-left: -1.3em;
} */